# Workspace dependencies
workspaces/Describing_Simulation_0/node_modules/
workspaces/Describing_Simulation_0/.vitest/
workspaces/Describing_Simulation_0/.ts-node-
workspaces/Describing_Simulation_0/.cache/

# Logs and coverage artifacts
workspaces/Describing_Simulation_0/*.log
